<footer>
  <div class="container">
    <div class="row">
    <div class="legals">
      <p><img src="/user/themes/megatheme/img/logo.png" width="100" alt="KostolNaHrane" /></p>
    </div>
  </div>
</div>
</footer>
