<section class="subscribe text-center">
  <div class="container">
    <!-- <h1><i class="fa fa-paper-plane"></i><span>{{ page.header.title }}</span></h1> -->
    <h1><span>{{ page.header.title }}</span></h1>
    <!-- {{ page.content }} -->

    <div>
    <div class="container">
	    <div class="row">
	    	<div class="col-md-4">
	    		<ul>
  					<li>spacák</li>
  					<li>karimatku</li>
  					<li>stan</li>
  					<li>teplé oblečenie</li>
  					<li>letné oblečenie</li>
  					<li>tenisky</li>
  					<li>sandále</li>
  					<li>gumáky</li>
  					<li>pevné topánky do lesa</li>
				</ul>
	    	</div>
  			<div class="col-md-4">
  				<ul>
  					<li>pršiplášť</li>
  					<li>ponožky (veľa ponožiek)</li>
  					<li>plavky</li>
  					<li>pokrývku hlavy</li>
  					<li>hygienické potreby</li>
  					<li>baterka/čelovka</li>
  					<li>príbor</li>
  					<li>ešus</li>
  					<li>zápisník</li>
				</ul>
  			</div>
  			<div class="col-md-4">
  				<ul>
  					<li>pero</li>
  					<li>lieky (v prípade ak nejaké užívaš)</li>
  					<li>repelent</li>
  					<li>krém na opaľovanie</li>
  					<li>deku k táboráku</li>
  					<li>ruksak (v prípade výletu)</li>
  					<li>kartu o zdravotnom poistení (nie kópiu)</li>
				</ul>
  			</div>
	    </div>
	</div>
	</div>

  </div>
</section>
